// Font Variables
$headline:CreteRound;
$body: Raleway;


$headline-fb:serif;
$body-fb:sans-serif;


$headline-font-size:150px;


@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Raleway');
